SUPABASE_URL=https://udkggltxaqbbthbxyfcc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVka2dnbHR4YXFiYnRoYnh5ZmNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NzAyODEsImV4cCI6MjA4OTA0NjI4MX0.16WEdt7zA2vo1EWv_kNeK7ICV0AFFjNYK1Edd5mouwI
